.heading {
  padding-left: 2%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  text-align: left;
  text-transform: uppercase;
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
  font-weight: 700;
}

.actionButtons {
  margin-left: auto;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.actionButtons .btn {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: fit-content;
  width: fit-content;
  border-radius: 0.25rem;
}

.content {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000000;
  width: 50vw;
  margin: 0 auto;
}

.content-subsection {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}

.content-subsection-heading {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1rem;
  color: #000000;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: left;
}
.content-list {
  padding-left: 1.5rem;
  font-size: small;
}
